html, body{
    width: 50%;
    margin: 0 auto;
<<<<<<< HEAD
    font-family: Arial, Helvetica, sans-serif;  
=======
    font-family: Arial, Helvetica, sans-serif;
    
>>>>>>> 34100382ae6e985ce420cd40a86bbceef9964409
}

.container {
    width: 660px;
    height: 300px;
    border: 2px solid black;
    background-color: bisque;
    overflow-y: scroll;
}

#inputField {
    width: 500px;
    height: 46px;
    font-size: 25px;
    border: 1px solid black;
    outline: none;
    vertical-align: middle;
}

#addToDo {
    height: 50px;
    width: 50px;
    border: 1px solid black;
    vertical-align: middle;
    font-size: 30px;
}

#toDoContainer {
    margin-top: 25px;
}

.style {
    margin: 5px;
    cursor: pointer;
    font-size: 20px;
    background-color: rgb(242, 229, 229);
}
.delete{
    height: 20px;
    width: 60px;
    /* margin-left: 60px; */
    color: red;
}
.done{
    height: 20px;
    width: 60px;
    margin-left: 50%;
    margin-left: 70%;
    color: green;
}